body{
    font-family:  Helvetica;
    color: lightgrey;
    margin: 0;
    padding: 0;
    font-size: x-small;
    font-weight: 100;
    overflow: hidden;
}

img{
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: -100;
    -webkit-app-region: drag;
}

#content{
    /* margin: 3%; */
    /* line-height: 1.5; */
    width: 100%;
    height: 100%;
}


#commands{
    position: absolute;
    bottom: 14%;
    left: 8%;
    font-size: small;

}

#version{
    position: fixed;
    left: 34%;
    top: 52%;
}

#status{
    position: absolute;
    bottom: 15px;
    left: 100px;
}

#progress{
    margin-top: 2px;
    width: 600px;
    height: 15px;
    border: 1px solid white;
    position: relative;
    border-radius: 5px;
}

#bar{
    width: 0%;
    margin: 6px;
    height: 3px;
    background-color: white;
}

#install{
    margin: 0;
    padding: 5px;
    /* border: 1px solid white; */
    border-radius: 12px;
    -webkit-app-region: no-drag;
    cursor: pointer;
    background-color: white;
    color: #202020;
    width: 100px;
    position: absolute;
    bottom: 15px;
    left: 290px;
    text-align: center;
}

#for{
    margin: 0;
    /* background-color: white; */
    color: white;
    position: absolute;
    width: 30px;
    bottom: 25px;
    left: 400px;
    text-align: center;
}

#rhino_version{
    margin: 0;
    padding: 5px;
    /* border: 1px solid white; */
    border-radius: 12px;
    -webkit-app-region: no-drag;
    cursor: pointer;
    background-color: white;
    color: #202020;
    width: 80px;
    position: absolute;
    bottom: 15px;
    left: 430px;
    text-align: center;
}

#install:hover{
    background-color: gray;
}

#exit{
    position: absolute;
    right: 3%;
    top: 3%;
    -webkit-app-region: no-drag;
    cursor: pointer;
    font-size: large;
    padding: 5px;
    border-radius: 5px;

}

#exit:hover{
    background-color: gray;
}

#console{
    position: absolute;
    margin: 20px;
    width: 90%;
    top: 0px;
    bottom: 30px;
    -webkit-app-region: no-drag;
    border:1px solid #ccc;
    overflow:auto;
    background-color: black;
    opacity: 0.9;
}